<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
      .nav-item .active {
        text-decoration: underline;
      }
      .custom-file-input ~ .custom-file-label::after {
        content: "Browse";
      }
      .form-container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .card-title {
        font-size: 1.5rem;
      }
      .list-group-item {
        border: none;
        padding-left: 0;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">MEDICODent-ETL</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{{ url_for('main.index') }}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/upload' %}active{% endif %}" href="{{ url_for('main.upload_file') }}">Importer fichier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/type_patient' %}active{% endif %} {% if not file_exists_type_patient %}disabled{% endif %}" href="{% if file_exists_type_patient %}{{ url_for('main.type_patient') }}{% else %}#{% endif %}">Type Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/type_paiement' %}active{% endif %} {% if not file_exists_type_paiement %}disabled{% endif %}" href="{% if file_exists_type_paiement %}{{ url_for('main.type_paiement') }}{% else %}#{% endif %}">Type Paiement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/type_jour' %}active{% endif %} {% if not file_exists_type_jour %}disabled{% endif %}" href="{% if file_exists_type_jour %}{{ url_for('main.type_jour') }}{% else %}#{% endif %}">Type Jour</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/type_annee' %}active{% endif %} {% if not file_exists_t_annee %}disabled{% endif %}" href="{% if file_exists_t_annee %}{{ url_for('main.type_annee') }}{% else %}#{% endif %}">Type Année</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/type_mois' %}active{% endif %} {% if not file_exists_t_mois %}disabled{% endif %}" href="{% if file_exists_t_mois %}{{ url_for('main.type_mois') }}{% else %}#{% endif %}">Type Mois</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/type_semaine' %}active{% endif %} {% if not file_exists_t_semaine %}disabled{% endif %}" href="{% if file_exists_t_semaine %}{{ url_for('main.type_semaine') }}{% else %}#{% endif %}">Type Semaine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/type_date' %}active{% endif %} {% if not file_exists_t_date %}disabled{% endif %}" href="{% if file_exists_t_date %}{{ url_for('main.type_date') }}{% else %}#{% endif %}">Type Date</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/fait_patient' %}active{% endif %} {% if not file_exists_fait_patient %}disabled{% endif %}" href="{% if file_exists_fait_patient %}{{ url_for('main.fait_patient') }}{% else %}#{% endif %}">Fait Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/fait_recettes' %}active{% endif %} {% if not file_exists_fait_recettes %}disabled{% endif %}" href="{% if file_exists_fait_recettes %}{{ url_for('main.fait_recettes') }}{% else %}#{% endif %}">Fait Recettes</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-4">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div>
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      // Custom file input label update
      $('.custom-file-input').on('change', function() {
        var fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
      });
    </script>
  </body>
</html>